# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>

In [1]:
print('Hello World')

Hello World

### Int & Float Assignments

##### Assigning int

In [1]:
# variable_name = value
# Python Standard Naming Convention - all lowercase - snake case - snake_case

my_number = 5 # Assign the value 5 to the variable my_number

print(my_number) # Print the value for the my_number variable
print(type(my_number)) # Print the datatype for the my_number variable

5
<class 'int'>

In [2]:
another_number = 123

print(another_number)
print(type(another_number))

123
<class 'int'>

##### Assinging float

In [4]:
my_float_number = 5.67

print(my_float_number)
print(type(my_float_number))

5.67
<class 'float'>

In [5]:
# The decimal (.) that is doing the heavy lifting - tells Python that is a float

another_float = 6.

print(another_float)
print(type(another_float))

6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [6]:
# Use the plus operator (+)

num1 = 43
num2 = 21

# int + int -> int
# int + float -> float
# float + float -> float

result = num1 + num2

print(result)
print(type(result))

64
<class 'int'>

In [7]:
print(result)

result += 15 # result = result + 15

print(result)

64
79

In [8]:
x = 10

x += 5 # x = x + 5

print(x)

15

##### Subtraction

In [9]:
# Use the minus operator (-)

difference = num1 - num2
print(difference)
print(type(difference))

# Assignment operator (-=)

difference -= 5 # difference = difference - 5
print(difference)

22
<class 'int'>
17

##### Multiplication

In [10]:
# Uses the asterisk or star (*)

product = 12 * 7

print(product)
print(type(product))


# Assignment Operator (*=)

product *= 2 # product = product * 2
print(product)

84
<class 'int'>
168

##### Division

In [11]:
# Use the forward slash (/)

# ALWAYS RESULTS IN A FLOAT!

num3 = 50
num4 = 5

quotient = num3 / num4

print(quotient)
print(type(quotient))

# Assignment Operator (/=)
quotient /= 4 # quotient = quotient / 4
print(quotient)

10.0
<class 'float'>
2.5

##### Floor Division

In [12]:
# Sometimes also referred to as Integer Division

# Floor is defined as the highest integer that is less than or equal to the value

result_normal = 15 / 4
print(result_normal)

# Use the double slash (//)
result_floor = 15 // 4
print(result_floor)


# Assignment Operator (//=)

result_floor //= 2 # result_floor = result_floor // 2
print(result_floor)

3.75
3
1

##### Modulo

In [13]:
# Use the percent operator (%)
# will return the REMAINDER of a division problem

num5 = 48
num6 = 5

result_mod = num5 % num6
print(result_mod)

# Assignment Operator (%=)
result_mod %= 2 # result_mod = result_mod % 2
print(result_mod)

3
1

In [14]:
# determining if a number is even or odd

# If a number is even, number % 2 == 0
# If a number is odd, number % 2 != 0

some_number = 56

print(some_number % 2)

0

##### Exponential

In [15]:
# Use the double-asterisk (**)

num7 = 5
num8 = 4

exponent = num7 ** num8
print(exponent)

# Assignment Operator (**=)

exponent **= 2 # exponent = exponent ** 2
print(exponent)

625
390625

### String Input-Output

##### String Assignment

In [16]:
# variable_name = 'string' - quotation marks ('' or "") tell Python that it is a string

first_name = 'Brian'

print(first_name)
print(type(first_name))

Brian
<class 'str'>

In [17]:
last_name = "Stanton"

print(last_name)
print(type(last_name))

Stanton
<class 'str'>

In [18]:
# Quotation marks are necessary!

wrong = astring

# Python thinks that we are setting a variable `wrong` equal to what the value for
# the variable `astring` which does not exist

NameError: name 'astring' is not defined

In [19]:
me = first_name

print(me)

Brian

##### Escape Characters

In [3]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [21]:
contraction2 = 'You can't do that'
print(contraction2)

SyntaxError: unterminated string literal (detected at line 1) (1937463103.py, line 1)

In [22]:
# backslash before quotation - read it literally
contraction3 = 'You can\'t do that'
print(contraction3)

You can't do that

In [23]:
quote1 = 'He said, "How are you?"'
print(quote1)

He said, "How are you?"

In [24]:
quote2 = "He said, \"How are you?\""
print(quote2)

He said, "How are you?"

In [25]:
# Backlash allows us to write the string on multiple lines and still be read as one line
long_string = 'Hello how are you \
doing today?'

print(long_string)

Hello how are you doing today?

In [26]:
# \n - new line character
multi_line = "Hello\nHow are you?"
print(multi_line)

Hello
How are you?

In [27]:
# \t - tab character
tabbed = 'Hello\tWorld'
print(tabbed)

Hello	World

In [28]:
letter = "Dear Friend,\n\tI hope you are doing well."
print(letter)

Dear Friend,
	I hope you are doing well.

#### Triple Quoted String

In [29]:
# string that starts and ends with 3 quotations (single or double)
# Read line spacing literally

triple = '''This is the first line
This is the second line
And this is the final line'''

print(triple)

This is the first line
This is the second line
And this is the final line

In [30]:
triple_again = """This is 
another example of
a triple quoted string"""

print(triple_again)

This is
another example of
a triple quoted string

In [31]:
# Raw String - start with r before the quotation marks (r'') or (r"")
# Read string literally - special characters are not special

raw_string = r"Dear Friend,\n\tI hope you are doing well."

print(raw_string)

Dear Friend,\n\tI hope you are doing well.

In [32]:
my_example = r'Brian\b'
print(my_example)

Brian\b

In [33]:
string_number = '123'

print(string_number)
print(type(string_number))

123
<class 'str'>

##### String Concatenation

In [34]:
first = 'John'
last = 'Smith'

# Plus operator (+) between two string -> return a NEW string with the two string combined
full = first + ' ' + last
print(full)

# += works for strings too!
full += ', Jr.' # full = full + ', Jr.'

print(full)

John Smith
John Smith, Jr.

In [35]:
num_a = 10 # integer
num_b = '10' # string

num_c = num_a + num_b
print(num_c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
num_a = '10' # string
num_b = 10 # integer

num_c = num_a + num_b
print(num_c)

TypeError: can only concatenate str (not "int") to str

##### Type Conversion

In [37]:
print(num_a, type(num_a))
print(num_b, type(num_b))

10 <class 'str'>
10 <class 'int'>

In [38]:
# to convert, pass the value into the built-in type function (usually the name of the class) -> will return a new object
# str for string, int for integers, float for floats, etc.

num_a_as_int = int(num_a)
print(num_a_as_int)
print(type(num_a_as_int))

# Creates new variable and object -> original value does not change
print(num_a, type(num_a))

10
<class 'int'>
10 <class 'str'>

In [39]:
num_c = int(num_a) + num_b

print(num_c)

20

In [40]:
city = 'Chicago'

city_int = int(city)

ValueError: invalid literal for int() with base 10: 'Chicago'

In [41]:
pi = '3.14'

f_pi = float(pi)

print(f_pi)

3.14

In [42]:
string_123 = str(123)
print(string_123, type(string_123))

123 <class 'str'>

##### .format() and f-strings

In [43]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [44]:
first_name = 'Tom'
last_name = 'Brady'
city = 'San Francisco'
age = 47

intro_text = "Hello, my name {} {} and I am {} years old and I am from {}".format(first_name, last_name, age, city)

print(intro_text)

Hello, my name Tom Brady and I am 47 years old and I am from San Francisco

In [45]:
# f-string - another fay of formatting a string -> uses curly braces with a variable name in them
# and a lowercase f before the string (f'') or (f"")

intro_text2 = f"Hello, my name is {first_name} {last_name} and I am {age} years old and I am from {city}"

print(intro_text2)

Hello, my name is Tom Brady and I am 47 years old and I am from San Francisco

In [46]:
# .format and f-string allows us to run expression for format our string

add_age1 = f"Hello, I am {first_name.upper()} and in 5 years I will be {age + 5}"
print(add_age1)


add_age2 = "Hello, I am {} and in 5 years I will be {}".format(first_name.upper(), age + 5)
print(add_age2)

Hello, I am TOM and in 5 years I will be 52
Hello, I am TOM and in 5 years I will be 52

##### Old Way (python 2)

In [47]:
print("Hello my name is %s and I am %s" % (first_name, city))

Hello my name is Tom and I am San Francisco

In [48]:
result = 10 + 5

print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [9]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'
num_year = int(year)+1
output_string = f"I drive a {color} {num_year} {make} {model}."
print(output_string)

I drive a blue 2023 Ford Focus.

NameError: name 'year' is not defined

### Booleans

In [50]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [51]:
bool_false = False
print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [52]:
# if <expression>:   <expression> must result in a boolean (True or False) or object with (Truthy/Falsy) value
#     <statement>

# INDENTATION MATTERS!!!!!!
# All lines that are indented under the if statement will only run if the expression is True

if True:
    print('Hello this is a statement that is being run because the If evaluated to True')

Hello this is a statement that is being run because the If evaluated to True

In [53]:
if False:
    print('Hello this is another statement that will print if evaluated to True')

In [54]:
print('Start code...')

if True:
    print('Hello')
    print('How are you?')
    
print('End code...')

Start code...
Hello
How are you?
End code...

In [55]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)
# Return value is a Boolean (True or False)

num1 = 10
num2 = 5
num3 = 2


print(num1 > num2)
print(num2 < num3)
print(num1 == num2 * num3)
print(num1 >= num2 * num3)
print(num1 <= num2 * num3)
print(num1 != num2)
print(num1 != num2 * num3)

True
False
True
True
True
True
False

In [56]:
if num1 > num2: # True
    print(f"{num1} is greater than {num2}")
    
if num2 < num3: # False
    print(f"{num2} is less than {num3}")
    
if num1 >= num2 * num3: # True
    print(f"{num1} is greater than or equal to {num2} times {num3}")

10 is greater than 5
10 is greater than or equal to 5 times 2

## Using 'and'/'or' with If Statements

In [57]:
# Truth Tree for OR:
# T or T = T
# T or F = T
# F or T = T
# F or F = F

# To pass through to the next round, a students needs at least a 2.5 GPA or at least a 25 ACT

potential_candidate_gpa = 1.0
potential_candidate_act = 10

# Logic for passing a student
if potential_candidate_gpa >= 2.5 or potential_candidate_act >= 25:
    print('Student meets minimum requirements. Move on to the next round...')
else:
    print('Reject student...')

Reject student...

In [58]:
# Truth Tree for AND:
# T and T = T
# T and F = F
# F and T = F
# F and F = F

# To pass through to the next round, a students needs at least a 2.5 GPA AND at least a 25 ACT

potential_candidate_gpa = 2.0
potential_candidate_act = 15

# Logic for passing a student
if potential_candidate_gpa >= 2.5 and potential_candidate_act >= 25:
    print('Student meets minimum requirements. Move on to the next round...')
else:
    print('Reject student...')

Reject student...

In [59]:
number = 5

if number == 1 or number == 7:
    print('The number is 1 or 7')
else:
    print(f"Not 1 or 7, the number is {number}")

Not 1 or 7, the number is 5

In [60]:
number = 10

if number:
    print('This was true')

This was true

### Else Statements

In [61]:
# An else statement runs when the if statement DIRECLTY above it evaluates to False

age = 44

if age >= 35:
    print('You are eligible to run for president')

if age >= 18:
    print('You are eligible to vote')
else:
    print('You are still too young to vote')

You are eligible to run for president
You are eligible to vote

### Elif Statements

In [62]:
# An elif only runs when the if (or elif) directly above it evaluates to False

# Pretend we are checking tickets at the movie theater for an R-Rated movie
# If the movie goer is above 18, just say thanks and enjoy the show
# if the movie goer is above 14, check if they have a parent with them, can see if so
# no movie goers under 14 or under 18 without parent


# rules for entry
required_age = 18
with_parent_age = 14

# Customer Info
customer_age = 16
has_parent = True

if customer_age >= required_age:
    print('Thanks and enjoy the show!')
elif customer_age >= with_parent_age and has_parent:
    print('Cool, enjoy the movie with the folks!')
elif customer_age >= with_parent_age and not has_parent:
    print('You are old enough to see this with a parent, but I do not see one here...')
else:
    print('You cannot see this film until you are older.')

Cool, enjoy the movie with the folks!

In [63]:
age = 10

if age < 18:
    drink_choice = 'toddy'
elif age < 21:
    drink_choice = 'coke'
elif age < 50:
    drink_choice = 'beer'
else:
    drink_choice = 'whiskey'
    
print(f'Drink {drink_choice}')

Drink toddy

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (ages 0-9) are half off. Print out the ticket price at the end</p>

In [64]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

In [65]:
print(ticket)

10

### Lists

##### Declaring Lists

In [66]:
# Ordered collection of data; indexable; mutable; iterable; elements of the list can be of any data type

list_1 = [] # Empty list declation

print(list_1)
print(type(list_1))

[]
<class 'list'>

In [67]:
names = ['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack']
print(names)
print(type(names))

['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack']
<class 'list'>

##### Indexing a List

In [68]:
# list_var[start: stop: step] - start is INclusive, stop is EXclusive
# 0-based index (indices will always start at 0 -> length of list - 1)
# Makes a copy, original list is unaffected

# single element - list_var[index]
print(names[3])

# Negative numbers start from the back of the list
print(names[-2])

# Slicing a list -> grabbing part of a list

# Slice the list from the 2nd element to the end (leave the stop empty will default to end of list)
print(names[1:])

# Slice the list from the 2nd element to the 5th element
print(names[1:5])

# Slice from the beginning of the list to the 4th element (leave start empty to start at beginning)
print(names[:4])

# Slice the whole list - an easy way to make a copy of the list
print(names[:])

# Slice every other element in the list
print(names[::2])

# Negative steps will walk backwards through the list - an easy way to make a reversed copy of a list
print(names[::-1])


# Combo time!
print(names[1:5:2])

Laura
Hannah
['Catherine', 'William', 'Laura', 'Hannah', 'Jack']
['Catherine', 'William', 'Laura', 'Hannah']
['Dan', 'Catherine', 'William', 'Laura']
['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack']
['Dan', 'William', 'Hannah']
['Jack', 'Hannah', 'Laura', 'William', 'Catherine', 'Dan']
['Catherine', 'Laura']

In [69]:
# List are mutable - means you can change the values using item assignment
# item assignment - list_var[index] = value


print(names)

names[2] = 'Billy'

print(names)

['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack']
['Dan', 'Catherine', 'Billy', 'Laura', 'Hannah', 'Jack']

In [70]:
# Strings are IMMUTABLE - can NOT be changed through item assignment
# But they are indexable

my_string = 'Hello World'
print(my_string)

print(my_string[0])

my_string[0] = 'J'
print(my_string)

Hello World
H

TypeError: 'str' object does not support item assignment

##### .append()

In [71]:
# list_var.append(value) -> Add the value to the end of the list

print(names)

names.append('Sarah')

print(names)

['Dan', 'Catherine', 'Billy', 'Laura', 'Hannah', 'Jack']
['Dan', 'Catherine', 'Billy', 'Laura', 'Hannah', 'Jack', 'Sarah']

##### .insert()

In [72]:
# list_var.insert(index,value) -> Add the value at index and shift everything after to the right 1 index

print(names)

names.insert(2, 'Julian')

print(names)

['Dan', 'Catherine', 'Billy', 'Laura', 'Hannah', 'Jack', 'Sarah']
['Dan', 'Catherine', 'Julian', 'Billy', 'Laura', 'Hannah', 'Jack', 'Sarah']

##### .pop()

In [73]:
# list_var.pop() -> If no argument, pop removes and returns the last element of the list

print(names)

last_element = names.pop()

print(names)

print(f"The element that was removed: {last_element}")

['Dan', 'Catherine', 'Julian', 'Billy', 'Laura', 'Hannah', 'Jack', 'Sarah']
['Dan', 'Catherine', 'Julian', 'Billy', 'Laura', 'Hannah', 'Jack']
The element that was removed: Sarah

In [74]:
# list_var.pop(index) -> will remove the element at index and return that item

second_element = names.pop(1)

print(names)

print(f'The second element: {second_element}')

['Dan', 'Julian', 'Billy', 'Laura', 'Hannah', 'Jack']
The second element: Catherine


##### .remove()

In [75]:
# value to be removed , not index
# list_var.remove(value) -> will remove the FIRST instance of that value

names.remove('Billy')

print(names)

['Dan', 'Julian', 'Laura', 'Hannah', 'Jack']

In [76]:
nums_list = [1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]

nums_list.remove(2)

print(nums_list)

[1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3]

##### del

In [77]:
# del list_var[index]
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully


print(names)

del names[2]

print(names)

['Dan', 'Julian', 'Laura', 'Hannah', 'Jack']
['Dan', 'Julian', 'Hannah', 'Jack']

In [78]:
del names[4] # Can cause index errors if not careful

IndexError: list assignment index out of range

##### Concatenating Two Lists

In [79]:
# Puls operator (+) between two lists will append two lists together, not add up the elements in each list

list_a = [1, 2, 3, 4]
list_b = [5, 6, 7, 8]

list_c = list_a + list_b


print(list_c)

[1, 2, 3, 4, 5, 6, 7, 8]

##### Lists can hold any datatype

In [80]:
# lists can hold any dataype
# It is *recommended* to only store one datatype in a list
list_of_strings = ['a', 'b', 'c', 'd']
list_of_ints = [1, 2, 3, 4]
list_of_floats = [1.23, 4.56, 7.89]
list_of_bools = [True, False, True, False]
list_of_all = ['a', 1, 2.3, True]

##### Lists Within Lists

In [81]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(list_of_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [82]:
for element in list_of_lists:
    print(type(element), element)

<class 'list'> [1, 2, 3]
<class 'list'> [4, 5, 6]
<class 'list'> [7, 8, 9]

In [83]:
list_of_lists[2][0]

7

### For Loops

In [84]:
# for <keyword> in <iterable>:
#     <statement>

nums = [5, 10, 15, 20, 25, 30]

print('Begin Loop...')

for num in nums:
    print(num)

print('End Loop...')

Begin Loop...
5
10
15
20
25
30
End Loop...

In [85]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for color in colors:
    print(f"My favorite color is {color}")

My favorite color is red
My favorite color is orange
My favorite color is yellow
My favorite color is green
My favorite color is blue
My favorite color is indigo
My favorite color is violet

In [86]:
# Indentation Matters!
# Anything indented under the for loop is part of the loop

for color in colors:
    print(color)
    print('Hello World')

red
Hello World
orange
Hello World
yellow
Hello World
green
Hello World
blue
Hello World
indigo
Hello World
violet
Hello World

In [87]:
for color in colors:
    print(color)
print('Hello World')

red
orange
yellow
green
blue
indigo
violet
Hello World

In [88]:
for color in colors:
    if color == 'red':
        print(f'I hate the color {color}')
    else:
        print(f'I love the color {color}')
        
        
print(f'The value of color after loop is {color}')

I hate the color red
I love the color orange
I love the color yellow
I love the color green
I love the color blue
I love the color indigo
I love the color violet
The value of color after loop is violet

In [89]:
# Strings are iterable
my_string = 'Hello World how are you today?'


for char in my_string:
    print(char)

H
e
l
l
o

W
o
r
l
d

h
o
w

a
r
e

y
o
u

t
o
d
a
y
?

##### Continue Statement

In [90]:
list_to_use = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [91]:
# will continue to next iteration
# skip all code after it in the code block and go to the next item in the iterable

for element in list_to_use:
    if element == 50:
        continue # Don't do anything more in this loop, go to the next element in list_to_use
    print(element)
    print(element / 10)
    print(f'The value of the element is {element}')

10
1.0
The value of the element is 10
20
2.0
The value of the element is 20
30
3.0
The value of the element is 30
40
4.0
The value of the element is 40
60
6.0
The value of the element is 60
70
7.0
The value of the element is 70
80
8.0
The value of the element is 80
90
9.0
The value of the element is 90
100
10.0
The value of the element is 100

In [92]:
x = 150

str(x)[-2:] == '50'

True

In [93]:
for element in range(0, 1000, 25):
    if str(element)[-2:] == '50':
        continue # Don't do anything more in this loop, go to the next element in list_to_use
    print(element)
    print(element / 10)
    print(f'The value of the element is {element}')

0
0.0
The value of the element is 0
25
2.5
The value of the element is 25
75
7.5
The value of the element is 75
100
10.0
The value of the element is 100
125
12.5
The value of the element is 125
175
17.5
The value of the element is 175
200
20.0
The value of the element is 200
225
22.5
The value of the element is 225
275
27.5
The value of the element is 275
300
30.0
The value of the element is 300
325
32.5
The value of the element is 325
375
37.5
The value of the element is 375
400
40.0
The value of the element is 400
425
42.5
The value of the element is 425
475
47.5
The value of the element is 475
500
50.0
The value of the element is 500
525
52.5
The value of the element is 525
575
57.5
The value of the element is 575
600
60.0
The value of the element is 600
625
62.5
The value of the element is 625
675
67.5
The value of the element is 675
700
70.0
The value of the element is 700
725
72.5
The value of the element is 725
775
77.5
The value of the element is 775
800
80.0
The value of the element is 800
825
82.5
The value of the element is 825
875
87.5
The value of the element is 875
900
90.0
The value of the element is 900
925
92.5
The value of the element is 925
975
97.5
The value of the element is 975

##### Break Statement

In [94]:
# will break out of current loop

for element in list_to_use:
    if element == 50:
        break # End the loop completely
    print(element)
    print(element / 10)
    print(f'The value of the element is {element}')
    
    
print('Loop has been terminated')

10
1.0
The value of the element is 10
20
2.0
The value of the element is 20
30
3.0
The value of the element is 30
40
4.0
The value of the element is 40
Loop has been terminated

##### Pass Statement

In [95]:
# mostly used as a placeholder, and will continue on same iteration

In [96]:
for element in list_to_use:
    if element == 50:
        # implement in the future
        pass # aka Do absolutely nothing, just hold the place
    print(element)
    print(element / 10)
    print(f'The value of the element is {element}')
    
    
print('Loop has been terminated')

10
1.0
The value of the element is 10
20
2.0
The value of the element is 20
30
3.0
The value of the element is 30
40
4.0
The value of the element is 40
50
5.0
The value of the element is 50
60
6.0
The value of the element is 60
70
7.0
The value of the element is 70
80
8.0
The value of the element is 80
90
9.0
The value of the element is 90
100
10.0
The value of the element is 100
Loop has been terminated

In [97]:
def solution():
    pass # Do absolutely nothing.

##### Nested/Double For Loops

In [98]:
a_list = [1, 2, 3, 4]

for num1 in a_list:
    print(num1)
    
for num2 in a_list:
    print(num2)

1
2
3
4
1
2
3
4

In [99]:
for num1 in a_list:
    for num2 in a_list:
        print(num1, num2)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### While Loops

In [100]:
x = 0

while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [101]:
# while <conditional>:
#     <statement to run while condition is true>

from random import randint

In [102]:
random_number = randint(1, 10)
print(f'The starting random number: {random_number}')

while random_number != 5:
    print(random_number)
    random_number = randint(1,10)
    
print(f'The final result: {random_number}')

The starting random number: 9
9
10
2
6
7
3
3
3
7
9
6
2
4
8
7
8
7
The final result: 5

##### Looping 'While True'

In [103]:

while True:
    ask = input('What would you like to do? ')
    if ask == 'quit':
        break
    if ask == 'look left':
        print('Looking to the left')
    else:
        print('You should look to your left!')

What would you like to do? look left
Looking to the left
What would you like to do? right
You should look to your left!
What would you like to do? quit

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

In [104]:
x = input('Enter something: ')

print(x, type(x))

Enter something: hello
hello <class 'str'>

##### range()

In [105]:
#Start, Stop, Step
for i in range(10):
    print(i)
    
print('-'*50)

for j in range(20, 30):
    print(j)
    
print('-'*50)
    
for k in range(50, 100, 10):
    print(k)

0
1
2
3
4
5
6
7
8
9
--------------------------------------------------
20
21
22
23
24
25
26
27
28
29
--------------------------------------------------
50
60
70
80
90

##### len()

In [106]:
# check Length of variable
my_list = [1,2, 3, 5, 6]

print(len(my_list))

5

##### help()

In [107]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

##### isinstance()

In [108]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)
x = 10

print(isinstance(x, int))
print(isinstance(x, str))

True
False

##### Looping Through Lists

In [109]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [4]:
number = 1
while True:
    cube = number ** 3
    if cube > 1000:
        break
    print(cube)
    number += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [3]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break



# Prime number - A number that is divisible by only 1 and itself
prime_numbers = []
for number in range(1, 101):
    is_prime = True
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.append(number)

print(prime_numbers)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [13]:
age = int(input("Enter your age: "))

if age < 18:
    print("kids")
elif age >= 18 and age <= 65:
    print("adults")
else:
    print("seniors")

Enter your age: 66
seniors